.text-container{
    font-size: 30pt;
    text-align: center;
    border: 2px solid black;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    padding: 1ch;
}
.untyped{
    color: black;
    background-color: white;
}
.correctly-typed{
    color: green;
    background-color: white;
}
.incorrectly-typed{
    color: red;
    background-color: lightgrey;
}
.skipped{
    color: black;
    background-color: darkgrey;
}
.typing-cursor{
    text-decoration: underline;
}
.scores-container{
    font-size: 16pt;
    text-align: center;
    padding-top: 1ch;
}
.buttons-container{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: xx-large;;
}
.repeat-button{
    padding: 1ch;
}
.next-button{
    padding: 1ch;
}