.text-container{
    font-size: 30pt;
}
.untyped{
    color: black;
    background-color: white;
}
.correctly-typed{
    color: green;
    background-color: white;
}
.incorrectly-typed{
    color: red;
    background-color: lightgrey;
}
.skipped{
    color: black;
    background-color: darkgrey;
}
.typing-cursor{
    text-decoration: underline;
}